{% extends '::base.html.twig' %}
{% block contenu %}
    <div id="content">
        <h2>Gestion des auteurs</h2>
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="erreur">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="info">
                {{ flash_message }}
            </div>
        {% endfor %}

        <div id="object-list">
            <div class="corps-form">
                {{ form_start(form, {'attr' : {'class' : 'corps-form'}}) }}

                {{ form_errors(form) }}
                <fieldset>
                    <legend>Modifier un auteur</legend>
                    <table>
                        <tr>
                            <td>
                                {{ form_label(form.nomAuteur, "Nom de l'auteur :") }}
                                {{ form_errors(form.nomAuteur) }}
                            </td>
                            <td>
                                {{ form_widget(form.nomAuteur) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form_label(form.prenomAuteur, "Prenom de l'auteur :") }}
                                {{ form_errors(form.prenomAuteur) }}
                            </td>
                            <td>
                                {{ form_widget(form.prenomAuteur) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form_label(form.alias, "Alias :") }}
                                {{ form_errors(form.alias) }}
                            </td>
                            <td>
                                {{ form_widget(form.alias) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form_label(form.notes, "Notes :") }}
                                {{ form_errors(form.notes) }}
                            </td>
                            <td>
                                {{ form_widget(form.notes) }}
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div class="pied-form">
                {{ form_widget(form.save, {'label': 'Modifier'} ) }}
                {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}